@model AutoGraphic.Models.ViewModels.ChangePasswordViewModel

@{
    Layout = null;
}



<!doctype html>
<html lang="en">
<head>
    <title>AutoGraphic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Account/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(images/FF.jpg); height:100%;width:100%;">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Change Password</h3>
                    <form asp-action="ChangePassword" method="post" class="signin-form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OldPassword" class="control-label"></label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="Change" class="form-control btn btn-primary submit px-3" />
                        </div>


                        <div style="text-align:center; padding-left:5px;">
                            <a asp-action="ForgotPassword" asp-controller="Account" style="color: #fff;">Reset Password By Email</a>
                        </div>

                    </form>
                    @if (ViewData.ModelState.IsValid == false)
                    {
                        <div class="alert alert-danger" role="alert">
                            There was an error changing your password.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <script src="~/Account/js/jquery.min.js"></script>
    <script src="~/Account/js/popper.js"></script>
    <script src="~/Account/js/bootstrap.min.js"></script>
    <script src="~/Account/js/main.js"></script>

</body>
</html>
