@model IEnumerable<Department>


    <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
            <div class="card card-box">
                <img class="card-img-top"
                     src="vendors/images/img2.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title weight-500">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
            <div class="card card-box">
                <img class="card-img-top"
                     src="vendors/images/img3.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title weight-500">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
            <div class="card card-box">
                <div class="card-body">
                    <h5 class="card-title weight-500">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                </div>
                <img class="card-img-top"
                     src="vendors/images/img1.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                    <a href="#" class="card-link text-primary">Card link</a>
                    <a href="#" class="card-link text-primary">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
            <div class="card card-box">
                <img class="card-img-top"
                     src="vendors/images/img4.jpg"
                     alt="Card image cap" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content. Some quick example text
                        to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
