

@model List<Department>

@{
    ViewData["Title"] = "GetUsersByDepartment";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashLayOut.cshtml";
}

<h1>GetUsersByDepartment</h1>

<div class="row">
    @foreach (var item in Model) {
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">@item.Name</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="@Url.Action("Index", "Department", new { departmentName = item.Name })" >View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-user"></i>
                    <span>@item.Count</span>
                </div>
            </div>
        </div>
    </div>
        }

</div>

